<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/preference.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/danfojs@0.1.1/dist/index.min.js"></script>

</head>

<body>
    <content>
        <header>
            <div class="description">좋아하는 콘텐츠를 선택해주세요.</div>
        </header>
        <div class="gallery">
            <div id="228" class="content" title="기생충">
                <img src="../static/img/image/228.jpg" alt="">
            </div>
            <div id="4089" class="content" title="범죄도시">
                <img src="../static/img/image/4089.jpg" alt="">
            </div>
            <div id="3375" class="content" title="title2">
                <img src="../static/img/image/3375.jpg" alt="">
            </div>
            <div id="7156" class="content" title="title2">
                <img src="../static/img/image/7156.jpg" alt="">
            </div>
            <div id="7196" class="content" title="title2">
                <img src="../static/img/image/7196.jpg" alt="">
            </div>
            <div id="7602" class="content" title="title2">
                <img src="../static/img/image/7602.jpg" alt="">
            </div>
            <div id="9951" class="content" title="title2">
                <img src="../static/img/image/9951.jpg" alt="">
            </div>
            <div id="8968" class="content" title="title2">
                <img src="../static/img/image/8968.jpg" alt="">
            </div>
            <div id="8732" class="content" title="title2">
                <img src="../static/img/image/8732.jpg" alt="">
            </div>
            <div id="10465" class="content" title="title2">
                <img src="../static/img/image/10465.jpg" alt="">
            </div>
            <div id="10668" class="content" title="title2">
                <img src="../static/img/image/10668.jpg" alt="">
            </div>
            <div id="10674" class="content" title="title2">
                <img src="../static/img/image/10674.jpg" alt="">
            </div>
            
        </div>
        <button type="button" class="button-6" id='submit'>완료</button>

    </content>
    <script src="../static/js/preference.js"></script>


</body>

</html>