<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>TITLE</title>
  <link rel="stylesheet" href="{{ url_for('static', path='fontawesome-5.5/css/all.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='slick/slick.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='slick/slick-theme.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='magnific-popup/magnific-popup.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/templatemo-style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/login-popup.css') }}" />





  <!--
	The Town
	https://templatemo.com/tm-525-the-town
	-->
</head>

<body>
  <!-- Hero section -->
  <section id="hero" class="text-white tm-font-big tm-parallax">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
      <div class="container">
        <div class="tm-next">
          <a href="#hero" class="navbar-brand">TITLE</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <div class="navbar-nav item">
              <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#movie">Movie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#drama">Drama</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#webtoon">Webtoon</a>
              </li>
            </div>
            <div class="navbar-nav item"></div>
            <li class="nav-item">
              <a class="nav-link tm-nav-link" href="#" id="login-btn">LogIn</a>
            </li>
            <li>
              <button class='button-6 tm-nav-link' id="register-btn">Register</button>
            </li>
        </div>


        </ul>
      </div>
      </div>
    </nav>

    <div class="text-center tm-hero-text-container">
      <div class="tm-hero-text-container-inner">
        <h2 class="tm-hero-title"></h2>
        <p class="tm-hero-subtitle">
          Recommendation
          <br />by Team5G
        </p>
      </div>
    </div>

  </section>

  <!--Login and Register-->
  <div id="login-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2></h2>
      <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="login-username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="login-password" name="password"><br><br>
        <input type="submit" id="login-submit" value="Submit">
      </form>
    </div>
  </div>

  <!-- register 추가해봤습니다.-->
  <div id="register-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2></h2>
      <form id="register-form">
        <label for="username">Username:</label>
        <input type="text" id="reg-username" name="username"><br><br>
        <label for="password">비밀번호:</label>
        <input type="password" id="reg-password" name="password"><br><br>
        <label for="password">비밀번호 확인:</label>
        <input type="password" id="confirm-password" name="password"><br><br>
        <label for="email">e-mail:</label>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" id="reg-submit" value="가입">
      </form>
    </div>
  </div>

  <!--
    <section id="introduction" class="tm-section-pad-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="img/the-town-01.jpg" alt="Image" class="img-fluid tm-intro-img" />
          </div>
          <div class="col-lg-6">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
                <p class="mb-4 tm-intro-text">
                  The Town is <strong>simple CSS template</strong> built on Bootstrap v4.1.3 
                  and this is a little parallax layout that you can use for your websites.
              </p>
                <p class="mb-5 tm-intro-text">
                  Please tell your friends about our site 
                  <a rel="nofollow" href="https://templatemo.com">templatemo</a>. Thank you.
                  Curabitur dapibus tristique enim a imperdiet. Etiam
              tristique sem sed condimentum posuere. </p>
                <div class="tm-next">
                  <a href="#work" class="tm-intro-text tm-btn-primary">Read More</a>
                </div>
            </div>
          </div>
        </div>

        <div class="row tm-section-pad-top">
          <div class="col-lg-4">
            <i class="fas fa-4x fa-bus text-center tm-icon"></i>
            <h4 class="text-center tm-text-primary mb-4">Curabitur at elit eu risus</h4>
            <p>
              Sed ultrices sit amet mi eu malesuada. Cras ultricies gravida
              nisi, ac pellentesque nunc tincidunt quis. Aenean at ornare lacus.
              Duis imperdiet lacus justo.
            </p>
          </div>
        
        <div class="col-lg-4 mt-5 mt-lg-0">
          <i class="fas fa-4x fa-bicycle text-center tm-icon"></i>
          <h4 class="text-center tm-text-primary mb-4">Nunc sed metus vel nisi</h4>
          <p>
            Praesent ut finibus leo. Duis et tempus ipsum, id pretium nunc.
            Vivamus imperdiet sem quis orci pharetra convallis. Nunc a tempus
            nisi, sed fringilla purus. In hac habitasse platea.
          </p>
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
          <i class="fas fa-4x fa-city text-center tm-icon"></i>
          <h4 class="text-center tm-text-primary mb-4">Fusce sed nisi sagittis</h4>
          <p>
            Donec vestibulum libero nisl. Curabitur ac orci ac lorem blandit
            volutpat. Sed ac sodales nibh, ut porttitor elit. Sed id dui mi.
            Vestibulum ante ipsum primis in faucibus.
          </p>
        </div>
      </div>
    </section>
    -->
  <section id="work" class="tm-section-pad-top">
    <div class="container tm-container-gallery">
      <div class="row">
        <div class="text-center col-12">
          <h2 class="tm-text-primary tm-section-title mb-4">Main page</h2>
          <p class="mx-auto tm-work-description">
            description
          </p>
        </div>
      </div>
  </section>

  <!--gallery-->
  <section id="movie">
    <div class="section-title">Movie</div>
    <div class="row">
      <div class="col-12">
        <div class="mx-auto tm-gallery-container">
          <div class="grid tm-gallery">
            <a href="{{ url_for('static', path='img/gallery-img-01.jpg') }}">
              <figure class="tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-01.jpg') }}" alt="Image" class="img-fluid">
                <!-- <img src="img/gallery-tn-01.jpg" alt="Image" class="img-fluid"> -->
                <div class="content-title">movie title</div>
                <div class="content-description">2023 한국</div>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-02.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-02.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-03.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-03.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-04.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-04.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-05.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-05.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-06.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-06.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-01.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-01.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-02.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-02.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section id="drama">
    <div class="section-title">Drama</div>
    <div class="row">
      <div class="col-12">
        <div class="mx-auto tm-gallery-container">
          <div class="grid tm-gallery">
            <a href="{{ url_for('static', path='img/gallery-img-01.jpg') }}">
              <figure class="tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-01.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2 class="contents_title"><i>Dreamy <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-02.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-02.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-03.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-03.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-04.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-04.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-05.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-05.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-06.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-06.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-01.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-01.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-02.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-02.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section id="webtoon">
    <div class="section-title">Webtoon</div>
    <div class="row">
      <div class="col-12">
        <div class="mx-auto tm-gallery-container">
          <div class="grid tm-gallery">
            <a href="{{ url_for('static', path='img/gallery-img-01.jpg') }}">
              <figure class="tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-01.jpg') }}" alt="Image" class="img-fluid">
                <!-- <img src="img/gallery-tn-01.jpg" alt="Image" class="img-fluid"> -->
                <figcaption>
                  <h2><i>Dreamy <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-02.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-02.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-03.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-03.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-04.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-04.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-05.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-05.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-06.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-06.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-01.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-01.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
            <a href="{{ url_for('static', path='img/gallery-img-02.jpg') }}">
              <figure class=" tm-gallery-item">
                <img src="{{ url_for('static', path='img/gallery-tn-02.jpg') }}" alt="Image" class="img-fluid">
                <figcaption>
                  <h2><i>Second <span>Honey</span> Now</i></h2>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact" class="tm-section-pad-top">
    <div class="container tm-container-contact">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-4 tm-section-title">Contact Us</h2>
          <div class="mb-5 tm-underline">
            <div class="tm-underline-inner"></div>
          </div>
          <p class="mb-5">
            Description
          </p>
        </div>
      </div>
    </div>
    <footer class="text-center small tm-footer">
      <p class="mb-0">
        Copyright &copy; 2019 Company Name

        - Design: <a rel="nofollow" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
      </p>
    </footer>
  </section>
    <script src="{{ url_for('static', path='js/api.js') }}" type="module"></script>
  <script src="{{ url_for('static', path='js/jquery-1.9.1.min.js') }}"></script>
  <script src="{{ url_for('static', path='slick/slick.min.js') }}"></script>
  <script src="{{ url_for('static', path='magnific-popup/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static', path='js/jquery.singlePageNav.min.js') }}"></script>
  <script src="{{ url_for('static', path='js/bootstrap.min.js.map') }}"></script>
  <script src="{{ url_for('static', path='js/login-script.js') }}"></script>
  <!--<script src="{{ url_for('static', path='js/gallery.js') }}"></script>-->


  <!-- 아직 이미지를 불러올 주소가 없어 오류가 나는 부분 주석처리했습니다-->
  <script src="{{ url_for('static', path='js/script.js') }}"></script>
  <script>
    function getOffSet() {
      var _offset = 450;
      var windowHeight = window.innerHeight;

      if (windowHeight > 500) {
        _offset = 400;
      }
      if (windowHeight > 680) {
        _offset = 300
      }
      if (windowHeight > 830) {
        _offset = 210;
      }

      return _offset;
    }

    function setParallaxPosition($doc, multiplier, $object) {
      var offset = getOffSet();
      var from_top = $doc.scrollTop(),
        bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
      $object.css({ "background-position": bg_css });
    }

    // Parallax function
    // Adapted based on https://codepen.io/roborich/pen/wpAsm        
    var background_image_parallax = function ($object, multiplier, forceSet) {
      multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
      multiplier = 1 - multiplier;
      var $doc = $(document);
      // $object.css({"background-attatchment" : "fixed"});

      if (forceSet) {
        setParallaxPosition($doc, multiplier, $object);
      } else {
        $(window).scroll(function () {
          setParallaxPosition($doc, multiplier, $object);
        });
      }
    };

    var background_image_parallax_2 = function ($object, multiplier) {
      multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
      multiplier = 1 - multiplier;
      var $doc = $(document);
      $object.css({ "background-attachment": "fixed" });
      $(window).scroll(function () {
        var firstTop = $object.offset().top,
          pos = $(window).scrollTop(),
          yPos = Math.round((multiplier * (firstTop - pos)) - 186);

        var bg_css = 'center ' + yPos + 'px';

        $object.css({ "background-position": bg_css });
      });
    };

    $(function () {
      // Hero Section - Background Parallax
      background_image_parallax($(".tm-parallax"), 0.30, false);
      background_image_parallax_2($("#contact"), 0.80);

      // Handle window resize
      window.addEventListener('resize', function () {
        background_image_parallax($(".tm-parallax"), 0.30, true);
      }, true);

      // Detect window scroll and update navbar
      $(window).scroll(function (e) {
        if ($(document).scrollTop() > 120) {
          $('.tm-navbar').addClass("scroll");
        } else {
          $('.tm-navbar').removeClass("scroll");
        }
      });

      // Close mobile menu after click 
      $('#tmNav a').on('click', function () {
        $('.navbar-collapse').removeClass('show');
      })

      // Scroll to corresponding section with animation

      // $('#tmNav').singlePageNav();        

      // Add smooth scrolling to all links
      // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
      /*
      $("a").on('click', function(event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;

          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 400, function(){
            window.location.hash = hash;
          });
        } // End if
      });

      // Pop up
      $('.tm-gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: { enabled: true }
      });
      */
      // Gallery
      $('.tm-gallery').slick({
        dots: true,
        infinite: false,
        slidesToShow: 5,
        slidesToScroll: 2,
        responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });

    });
  </script>
</body>

</html>